html , body  {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--background) ;
}


* { 
    margin: 0;
    pad: 0;
}

html {
    --background :  #F6F5AE;
    --details :     #FEFFEA;
}



.image__section { 
    width: 100%;
    text-align: center;
    img {
        width: 80%;
        margin: 50px auto 0 auto;
    }
}

//forse metto questa sezine dentro la stessa sezione del componente pc 

.details__section {
    height: 100%;
    width: 100%;
    background-color: var(--details);
    clip-path: polygon(24% 15%, 77% 9%, 90% 0, 100% 0, 100% 100%, 0 100%, 0% 70%, 3% 27%);

}